<div class="header">
    <p>SpaceX Launch Programs</p>
</div>
<div class="sidenav">
    <p class="headNav">Filters</p>
    <div class="container">
        <p>Launch Year</p>
        <hr style="width:70%">
        <span *ngFor="let btnValue of buttonVal; let i=index">
            <input type="button"
                [ngClass]="{'button': !buttonValMap.get(btnValue), 'buttonActive': buttonValMap.get(btnValue)}"
                value="btnValue" (click)="buttonClicked($event)" [(ngModel)]="buttonVal[i]">
        </span>
    </div>
    <div class="container">
        <p>Successful Launch</p>
        <hr style="width:70%">
        <input type="button" [ngClass]="{'button': !launchSuccess, 'buttonActive': launchSuccess==true}" value="True"
            (click)="launchSuccessButton(true)">
        <input type="button" [ngClass]="{'button': launchSuccess!=false, 'buttonActive': launchSuccess==false}"
            value="False" (click)="launchSuccessButton(false)">
    </div>
    <div class="container">
        <p>Successful Landing</p>
        <hr style="width:70%">
        <input type="button" [ngClass]="{'button': !landingSuccess, 'buttonActive': landingSuccess==true}" value="True"
            (click)="landingSuccessButton(true)">
        <input type="button" [ngClass]="{'button': landingSuccess!=false, 'buttonActive': landingSuccess==false}"
            value="False" (click)="landingSuccessButton(false)">
    </div>

</div>

<div class="content">
    <div class="row">
        <div *ngFor="let launch of launchData;" class="column">
            <div class="columnContainer" style="text-align:center;">
                <div class="imageBox" style="width:85%;">
                    <img src="{{launch.imgSrc}}" class="image">
                </div>
                <div style="text-align: left; padding-left:6px; font-size: 90%; width:100%;">
                    <p style="color: #574cfc;"><b>{{launch.missionName}} #{{launch.flightNumber}}</b></p>
                    <p><b>Mission Ids: </b>
                    <span style="color: #574cfc;" *ngFor="let ids of launch.missionIds"><span>{{ids}} &nbsp;</span></span>
                    </p>
                    <p><b>Launch Year: </b><span style="color: #574cfc;">{{launch.launchYear}}</span></p>
                    <p><b>Successful Launch: </b> <span style="color: #574cfc;">{{launch.launchSuccess}}</span></p>
                    <p><b>Successful Landing: </b> <span style="color: #574cfc;">{{launch.landSuccess}}</span></p>
                </div>

            </div>
        </div>
        <div *ngIf = "noDetails" class="column"> 
            <div class="columnContainer">
                <p><b>Sorry, there no launches for the filters you chose.</b></p>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <p><b>Developed By:</b> Nikhil Soni</p>
</div>

