<header class="header">
    <p>SpaceX Launch Programs</p>
</header>
<div class="sidenav">
    <p class="headNav">Filters</p>
    <div class="container">
        <p>Launch Year</p>
        <hr style="width:70%">
        <span *ngFor="let btnValue of buttonVal; let i=index">
            <input type="button"
                [ngClass]="{'button': !buttonValMap.get(btnValue), 'buttonActive': buttonValMap.get(btnValue)}"
                value="btnValue" (click)="yearsButtonClicked($event)" [(ngModel)]="buttonVal[i]">
        </span>
    </div>
    <div class="container">
        <p>Successful Launch</p>
        <hr style="width:70%">
        <input type="button" [ngClass]="{'button': !launchSuccess, 'buttonActive': launchSuccess==true}" value="True"
            (click)="launchSuccessButtonClicked(true)">
        <input type="button" [ngClass]="{'button': launchSuccess!=false, 'buttonActive': launchSuccess==false}"
            value="False" (click)="launchSuccessButtonClicked(false)">
    </div>
    <div class="container">
        <p>Successful Landing</p>
        <hr style="width:70%">
        <input type="button" [ngClass]="{'button': !landingSuccess, 'buttonActive': landingSuccess==true}" value="True"
            (click)="landingSuccessButtonClicked(true)">
        <input type="button" [ngClass]="{'button': landingSuccess!=false, 'buttonActive': landingSuccess==false}"
            value="False" (click)="landingSuccessButtonClicked(false)">
    </div>

</div>

<app-launch-list #launchListComponent></app-launch-list>

<footer class="footer">
    <p><b>Developed By:</b> Nikhil Soni</p>
</footer>

